# python and c++ native
__pycache__
*.egg-info
dist
.env
*.pyd
*.pyc
*.pyo
*.so
*.dylib
*.dll
*.exe
*.log
*.json
# src/keydnn/infrastructure/tensor/*
# !src/keydnn/infrastructure/tensor/_tensor_context.py
# Visual Studio cache / user state
.vs/
*.user
*.userosscache
*.suo
*.VC.db
*.VC.opendb
# Build output directories
Debug/
Release/
x64/
x86/
ARM/
ARM64/
git_log.txt
_test.py
test_deploy