include README.md
include README_PYPI.md
include LICENSE
include requirements.txt

recursive-include src/keydnn *.dll
recursive-include src/keydnn *.cpp *.hpp *.cu
global-exclude *.obj *.pdb *.lib *.exp *.exe
